/* For lab 3 */

/* headers start here */
.wrapper header h1 {
    padding: var(--padding-md-lg) 0;
}
section.announcement.warning{
    background-color: var(--warning-accent-color);
    padding: var(--padding-md) var(--padding-md-lg);
    border-radius: var(--border-radius-lg);
    color: var(--warning-font-color);
    border: var(--warning-accent-color);
    border: 2px var(--warning-font-color) solid;
}


/* Charts start here */
section.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

section.charts{
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    /* padding: var(--padding-md) var(--padding-lg); */
}

/* 1. */
section.charts figure{
    background: rgb(245, 245, 245);
    border-radius: var(--border-radius-lg);
    padding: var(--padding-md);
    margin: var(--margin-md);
    box-sizing: border-box;

}
/* 3a. */
section.charts canvas{
    width: 100%;
    height: 100%; 
}

/* Smaller charts 3b. */
section#course-chart-wrapper{
    /* width: 200px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#course-chart-wrapper > figure
{
    width: 225px;
    height: 225px;
}

/* The bigger chart wrapper 3c. */
figure#trend-chart-wrapper{
    /* height: 100%; */
    width: 50%;                 /* Is this what you want by 50% left column
                                 on 3c? */
    justify-content: center;
}

